# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio
.vs/
*.csproj
*.sln

# OS
.DS_Store
Thumbs.db
Assets.zip
*.zip
Assets/sounds/Game Sounds/water_rain.mp3
Assets/sounds/Game Sounds/soft-brown-noise.mp3
